:root {
  --app-height: 100%;
}

.only-sp {
  display: none;
}

.p-top__hero {
  position: relative;
  margin-top: 0;
  padding: 0;
  color: #fff;
}

.p-top__container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-hero__wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  height: calc(100vh);
  height: var(--app-height);
}
.p-hero__bg {
  height: 100%;
}
.p-hero__bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* -webkit-filter: brightness(80%);
  filter: brightness(80%); */
}
.p-hero__overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  position: absolute;
}

.p-hero__heading {
  position: absolute;
  top: calc(50%);
  left: 50px;
  transform: translate(0%, -50%);
  text-align: left;
  z-index: 2;
}

.p-hero__heading h1 {
  font-size: 4.2rem;
  letter-spacing: 2px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.p-hero__heading a {
  margin-top: 38px;
    width: 300px;
    height: 50px;
    display: block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100px;
    line-height: 47px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.8px;
  transform: 0.3s ease-in-out;
}
.p-hero__heading a:hover,
.p-hero__new a:hover,
.p-top__heading a:hover,
.p-collect__btn:hover {
  opacity: 0.7;
}

.p-hero__heading a > span {
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.p-hero__new {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
  padding: 25px 50px 28px;
  display: flex;
  /* justify-content: space-between; */
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  z-index: 2;
  box-sizing: border-box;
}

.p-hero__latest {
  width: 33.33%;
}

.p-hero__info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.p-hero__info--date {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.p-hero__more {
  text-align: right;
  flex: 1;
}

.p-hero__new span {
  margin-left: 20px;
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
@media only screen and (max-width: 820px) {
  .only-pc {
    display: none;
  }
  .only-sp {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .p-hero__info--date {
    transform: translateX(50%);
  }
}

@media only screen and (max-width: 820px) {
  .p-hero__heading {
    top: auto;
    bottom: 5px;
    left: 25px;
  }
  .p-hero__heading h1 {
    font-size: 2.4rem;
    letter-spacing: 1px;
  }
  .p-hero__heading a {
    margin-top: 20px;
    font-size: 1.4rem;
    width: 207px;
    height: 40px;
    line-height: 39px;
  }
  .p-hero__new {
    padding: 18px 23px;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  .p-hero__new span {
    font-size: 1.2rem;
    margin-left: 8px;
  }
  .p-hero__latest {
    width: 30%;
  }
  .p-hero__info--date {
    position: unset;
    transform: translateX(0)
  }
}

/* collection */
.p-top__collect .p-top__heading {
  padding: 125px 100px 47px;
}

.p-top__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.p-top__heading a {
  transition: 0.3s ease-in-out;
}

.p-top__title {
  font-size: 3.2rem;
  letter-spacing: 2px;
}

.p-top__viewall {
  font-size: 1.7rem;
  text-underline-offset: 4px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  letter-spacing: 1px;
}

.p-collect__content {
  background-color: #b2ccd0;
  padding: 100px;
  display: flex;
  align-items: center;
}

.p-collect__left {
  min-width: 340px;
  width: 20%;
  margin-right: 80px;
}

.p-collect__right {
  flex: 1;
}

.p-collect__right > img {
  border-radius: 15px;
  height: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  width: 100%;
}

.p-collect__left > h3 {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  margin-top: 5px;
  margin-bottom: 16px;
}

.p-collect__left > h4 {
  font-weight: bold;
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.p-collect__desc {
  margin: 55px 0;
}

.p-collect__desc p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  letter-spacing: 0.32px;
  line-height: 1.93;
}

.p-collect__desc p:first-child {
  margin-bottom: 20px;
}

.p-collect__btn {
  border: 1px solid #000;
  border-radius: 100px;
  display: block;
  text-align: center;
  line-height: 54px;
  height: 55px;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  padding-left: 25px;
}

.p-collect__btn > span {
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin-left: 10px;
}

.p-collect__list {
  padding: 100px;
}

.p-collect__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 30px;
}

.p-collect__item > img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 820px) {
.p-collect__item > img {
  border-radius: 10px;
}
}
.p-collect__item {
  transition: 0.3s ease-in-out;
}

.p-collect__item:hover {
  opacity: 0.7;
}

.p-collect__item > p {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 17px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 820px) {
  .p-top__title {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .p-top__viewall {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }
  .p-top__collect .p-top__heading {
    padding: 84px 25px 20px;
  }
  .p-collect__content {
    padding: 45px 25px;
  }
  .p-collect__imgsp img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
  }
  .p-collect__left > h3 {
    font-size: 1.4rem;
    margin-top: 32px;
    margin-bottom: 14px;
  }
  .p-collect__left > h4 {
    font-size: 2rem;
  }
  .p-collect__desc {
    margin: 35px 0 27px;
  }
  .p-collect__desc p {
    font-size: 1.3rem;
  }
  .p-collect__desc p:first-child {
    margin-bottom: 18px;
  }
  .p-collect__btn {
    font-size: 1.3rem;
    height: 48px;
    line-height: 48px;
  }
  .p-collect__list {
    padding: 45px 25px 82px;
  }
  .p-collect__grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .p-collect__item > p {
    font-size: 1.6rem;
    margin-top: 14px;
    letter-spacing: 0.5px;
  }
  .p-collect__left {
    width: 100%;
    min-width: 100%;
    margin-right: 0;
  }
}

/* item */
.p-item__wrapper {
  background-color: #f2f2f2;
  padding: 100px 0;
}

.p-item__wrapper .p-top__heading {
  padding: 8px 100px 0;
}

.p-item__carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 47px;
  padding-left: 100px;
  padding-right: 100px;
}

.p-item__carousel .swiper-slide {
  width: 393px;
}

.p-item__content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(97%);
  position: relative;
}

.p-item__content p {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
  top: 51%;
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 100%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 70px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 70px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2px;
}

.swiper-button-next:after {
  margin-left: 3px;
}

.swiper-button-prev:after {
  margin-left: -5px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.p-item__scrollbar {
  padding: 54px 0 0 0;
}

.p-item__scrollbar .swiper-scrollbar {
  position: unset;
  width: 100%;
  overflow: hidden;
  height: 2px;
  border-radius: unset;
}

.p-item__scrollbar .swiper-scrollbar-drag {
  background: #000;
  border-radius: unset;
}

@media only screen and (min-width: 2100px) {
  /* .p-item__carousel {
    padding-left: 0;
  } */
  /* .swiper-wrapper {
    justify-content: center;
  } */
}

@media only screen and (max-width: 820px) {
  .p-item__wrapper {
    padding: 80px 0;
  }

  .p-item__wrapper .p-top__heading {
    padding: 4px 25px 0;
  }

  .p-item__carousel {
    padding-top: 26px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .p-item__content img {
    border-radius: 10px;
  }

  .p-item__carousel .swiper-slide {
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 36px;
    height: 36px;
    top: 52%;
  }
  .swiper-button-prev:after {
    margin-left: -2px;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.4rem;
    margin-top: 1px;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 7px;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 7px;
  }
  .p-item__content p {
    font-size: 1.8rem;
    bottom: 22px;
    left: 25px;
    letter-spacing: 0.5px;
  }
  .p-item__scrollbar {
    padding: 30px 0 0 0;
  }
}

/* concept */
.p-concept__wrapper {
  padding: 153px 100px 138px;
}

.p-concept__subtitle {
  /* font-size: 5.2rem;
  font-weight: bold; */
  line-height: 1.4;
  margin: 60px 0 65px;
  text-align: left;
}

.p-concept__subtitle img {
  display: block;
}

.p-concept__subtitle img:first-child {
  margin-bottom: 15px;
  margin-left: 2px;
}
@media only screen and (max-width: 820px) {
.p-concept__subtitle img:first-child {
  margin-left: 1px;
  width: 276px;
}
}
.p-concept__subtitle span {
  font-size: 4.9rem;
  font-family: "Koburina Gothic StdN", sans-serif;
}

.p-concept__desc {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3;
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.p-concept__desc span {
  font-family: "Century Gothic", century-gothic, "Avenir", sans-serif;
}

@media only screen and (max-width: 820px) {
  .p-concept__wrapper {
    padding: 80px 25px 70px 25px;
  }
  .p-concept__subtitle {
    /* font-size: 2.6rem; */
    margin: 46px 0 50px;
    /* width: 313px; */
  }
  .p-concept__subtitle img {
    width: 313px;
  }
  .p-concept__subtitle span {
    font-size: 2.4rem;
  }
  .p-concept__desc {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 320px) {
  .p-concept__subtitle img {
    width: 240px;
  }
}

.only-sp {
  display: none;
}

.p-collection {
  background-color: #fff;
}

.p-collection__top {
  height: 100vh;
  background-color: #bbcbd3;
  padding: 0 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.collection-top__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 170px;
  padding-bottom: 105px;
}

.collection-top__left {
  min-width: 340px;
  width: 20%;
  margin-right: 80px;
}

.collection-top__heading > h1 {
  font-size: 3.2rem;
  margin-top: 6px;
  letter-spacing: 1px;
}

.collection-top__left > h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 48px;
  margin-bottom: 16px;
}

.collection-top__left > h3 {
  font-weight: bold;
  font-size: 2.8rem;
}

.collection-top__right {
  flex: 1;
}

.collection-top__right > img {
  border-radius: 15px;
  height: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.collection-top__desc {
  margin: 55px 0;
}
.collection-top__desc p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  letter-spacing: 0.32px;
  line-height: 1.93;
}

.collection-top__desc p:first-child {
  margin-bottom: 20px;
}

.collection-top__desc p > span {
  font-family: "Century Gothic", century-gothic, "Avenir", sans-serif;
}

.collection-top__btn {
  border: 1px solid #000;
  border-radius: 100px;
  display: block;
  text-align: center;
  line-height: 54px;
  height: 55px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.collection-top__btn > span {
  font-family: "Century Gothic", century-gothic, "Avenir", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin-left: 10px;
}

.collection-top__btn:hover {
  opacity: 0.7;
}

/* .collection-top__btn::after {
    content: '\2192';
} */

.p-collection__list {
  padding: 132px 100px 150px;
}

.collection-list__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 30px;
}

.collection-list__item > img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.collection-list__item > h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.collection-list__item {
  transition: 0.3s ease-in-out;
}

.collection-list__item:hover {
  opacity: 0.7;
}

/* .c-footer {
  border-top: 1px solid #ddd;
  background-color: #fff;
} */

@media only screen and (max-width: 1279px) {
  .collection-top__container {
    padding-top: 140px;
  }
  .collection-top__desc {
    margin: 35px 0 27px;
  }
  .collection-top__desc p:first-child {
    margin-bottom: 18px;
  }
  .collection-top__left > h2 {
    margin-top: 32px;
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 1023px) {
  .only-pc {
    display: none;
  }
  .only-sp {
    display: block;
  }
  .p-collection__top {
    padding: 0 60px;
    height: 100%;
  }
  .collection-top__container {
    padding-top: 140px;
    padding-bottom: 60px;
  }
  .collection-top__left {
    width: 100%;
    min-width: 100%;
    margin-right: 0;
  }
  .p-collection__list {
    padding: 60px 60px 80px;
  }
  .collection-list__grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .collection-list__item > h2 {
    font-size: 1.6rem;
    margin-top: 14px;
  }
  .collection-top__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collection-top__heading > h1 {
    font-size: 2rem;
  }
  .collection-top__heading a {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }
  .collection-top__imgsp {
    margin: 25px 0;
  }
  .collection-top__imgsp > img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
  }

  .collection-top__left > h2 {
    font-size: 1.4rem;
  }
  .collection-top__left > h3 {
    font-size: 2rem;
  }

  .collection-top__desc p {
    font-size: 1.3rem;
  }
  .collection-top__btn {
    font-size: 1.3rem;
    height: 48px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 812px) {
  .p-collection__top {
    padding: 0 40px;
  }
  .p-collection__list {
    padding: 60px 40px 80px;
  }
}

@media only screen and (max-width: 450px),
  (max-width: 812px) and (orientation: landscape) {
  .collection-top__container {
    padding-top: 98px;
  }
  .p-collection__top {
    padding: 0 25px;
  }
  .p-collection__list {
    padding: 60px 25px 80px;
  }
}

.c-loading {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  height: var(--app-height);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-loading > img {
  width: 550px;
  display: none;
  /* margin-left: 10px; */
}

@media only screen and (max-width: 820px) {
  .c-loading > img {
    width: 260px;
    margin-left: 5px;
  }
}